<p id="notice"><%= notice %></p>
<p><a class="btn btn-primary" href="/quests/new">Nova Questão</a></p><br>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Questões</h5>

            </div>
            <div class="ibox-content">

                <table class="table">
  <thead>
    <tr>
      <th>Quest enum</th>
      <th>Quest alternativas</th>
      <th>Quest resp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quests.each do |quest| %>
      <tr>
        <td><%= quest.quest_enum %></td>
        <td><%= simple_format(quest.quest_alternativas) %></td>
        <td><%= simple_format(quest.quest_resp) %></td>
        <td><%= link_to 'Exibir', quest %></td>
        <td><%= link_to 'Editar', edit_quest_path(quest) %></td>
        <td><%= link_to 'Excluir', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

            </div>
        </div>
    </div>

</div>


<!--<br>-->

<!--<%= link_to 'New Quest', new_quest_path %>-->
