<p id="notice"><%= notice %></p>

<p>
  <strong>Adm nome:</strong>
  <%= @admin.adm_nome %>
</p>

<p>
  <strong>Adm data nasc:</strong>
  <%= @admin.adm_data_nasc %>
</p>

<p>
  <strong>Adm endereco:</strong>
  <%= @admin.adm_endereco %>
</p>

<p>
  <strong>Adm bairro:</strong>
  <%= @admin.adm_bairro %>
</p>

<p>
  <strong>Adm numero:</strong>
  <%= @admin.adm_numero %>
</p>

<p>
  <strong>Adm cidade:</strong>
  <%= @admin.adm_cidade %>
</p>

<p>
  <strong>Adm complemento:</strong>
  <%= @admin.adm_complemento %>
</p>

<p>
  <strong>Adm cep:</strong>
  <%= @admin.adm_cep %>
</p>

<p>
  <strong>Adm email:</strong>
  <%= @admin.adm_email %>
</p>

<p>
  <strong>Adm nome inst:</strong>
  <%= @admin.adm_nome_inst %>
</p>

<p>
  <strong>Adm login:</strong>
  <%= @admin.adm_login %>
</p>

<p>
  <strong>Adm senha:</strong>
  <%= @admin.adm_senha %>
</p>

<p>
  <strong>Adm codigo:</strong>
  <%= @admin.adm_codigo %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
