<%= form_for(@aluno) do |f| %>
  <% if @aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
      <% @aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Nome %><br>
    <%= f.text_area :p_nome %>
  </div>
  <div class="field">
    <%= f.label :"Data de Nascimento" %><br>
    <%= f.date_select :p_data_nasc %>
  </div>
  <div class="field">
    <%= f.label :"Endereço" %><br>
    <%= f.text_field :p_endereco %>
  </div>
  <div class="field">
    <%= f.label :Bairro %><br>
    <%= f.text_field :p_bairro %>
  </div>
  <div class="field">
    <%= f.label :Numero %><br>
    <%= f.text_field :p_numero %>
  </div>
  <div class="field">
    <%= f.label :Cidade %><br>
    <%= f.text_field :p_cidade %>
  </div>
  <div class="field">
    <%= f.label :Complemento %><br>
    <%= f.text_area :p_complemento %>
  </div>
  <div class="field">
    <%= f.label :CEP %><br>
    <%= f.number_field :p_cep %>
  </div>
  <div class="input-group">
    <%= f.label :Email %><br>
    <%= f.text_area :p_email %>
  </div>
  
  <!--
 <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>

</div>
  
  -->
  
  
  
  <div class="field">
    <%= f.label :"Nome da Instituição" %><br>
    <%= f.text_field :p_nome_inst %>
  </div>
  <div class="field">
    <%= f.label :Login %><br>
    <%= f.text_field :p_login %>
  </div>
  <div class="field">
    <%= f.label :Senha %><br>
    <%= f.text_field :p_senha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
