<p id="notice"><%= notice %></p>

<p>
  <strong>P nome:</strong>
  <%= @aluno.p_nome %>
</p>

<p>
  <strong>P data nasc:</strong>
  <%= @aluno.p_data_nasc %>
</p>

<p>
  <strong>P endereco:</strong>
  <%= @aluno.p_endereco %>
</p>

<p>
  <strong>P bairro:</strong>
  <%= @aluno.p_bairro %>
</p>

<p>
  <strong>P numero:</strong>
  <%= @aluno.p_numero %>
</p>

<p>
  <strong>P cidade:</strong>
  <%= @aluno.p_cidade %>
</p>

<p>
  <strong>P complemento:</strong>
  <%= @aluno.p_complemento %>
</p>

<p>
  <strong>P cep:</strong>
  <%= @aluno.p_cep %>
</p>

<p>
  <strong>P email:</strong>
  <%= @aluno.p_email %>
</p>

<p>
  <strong>P nome inst:</strong>
  <%= @aluno.p_nome_inst %>
</p>

<p>
  <strong>P login:</strong>
  <%= @aluno.p_login %>
</p>

<p>
  <strong>P senha:</strong>
  <%= @aluno.p_senha %>
</p>

<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
