<p id="notice"><%= notice %></p>

<p>
  <strong>Pf nome:</strong>
  <%= @professor.pf_nome %>
</p>

<p>
  <strong>Pf data nasc:</strong>
  <%= @professor.pf_data_nasc %>
</p>

<p>
  <strong>Pf endereco:</strong>
  <%= @professor.pf_endereco %>
</p>

<p>
  <strong>Pf bairro:</strong>
  <%= @professor.pf_bairro %>
</p>

<p>
  <strong>Pf numero:</strong>
  <%= @professor.pf_numero %>
</p>

<p>
  <strong>Pf cidade:</strong>
  <%= @professor.pf_cidade %>
</p>

<p>
  <strong>Pf complemento:</strong>
  <%= @professor.pf_complemento %>
</p>

<p>
  <strong>Pf cep:</strong>
  <%= @professor.pf_cep %>
</p>

<p>
  <strong>Pf email:</strong>
  <%= @professor.pf_email %>
</p>

<p>
  <strong>Pf nome inst:</strong>
  <%= @professor.pf_nome_inst %>
</p>

<p>
  <strong>Pf login:</strong>
  <%= @professor.pf_login %>
</p>

<p>
  <strong>Pf senha:</strong>
  <%= @professor.pf_senha %>
</p>

<p>
  <strong>Pf siape:</strong>
  <%= @professor.pf_siape %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
